* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-90
 {
  width: 90% !important; /* Sobrescribe la anchura predeterminada de Bootstrap */
  max-width: 100%; /* Garantiza que no se extienda más allá del ancho máximo */
  margin-left: auto; /* Centra el contenedor horizontalmente */
  margin-right: auto; /* Centra el contenedor horizontalmente */
}

.notificaciones {
  max-height: 800px; /* Altura máxima del contenedor */
  overflow-y: scroll; /* Habilitar desplazamiento vertical */
  border: 1px solid #ccc; /* Borde para visualización */
  padding: 10px; /* Espaciado interno */
}
/* Estilos para hacer la notificación menos ancha */
.less-width {
  max-width: 100%; /* Ajusta el ancho máximo según lo que desees */
}

.b-example-divider {
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
